*{
    margin:0px;
    box-sizing: border-box;
}
header{
    position:fixed;
    height: 64.73px;
    width: 100%;
    background-color: oklch(21% 0.034 264.665);
}
.Navigation{
    margin: 0 51px;
    padding: 0 32px;
    height:64px;
}
.nav-elements{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    all: unset;
    color:#ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    font-size: 18px;
    margin-right: 32px;
}
.nav-btn:hover{
    color:#1E88E5;
    text-decoration: underline #1E88E5  ;
}
#name-el{
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
}
#toggle-btn{
    all: unset;
    
}