*{
    margin:0px;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
header{
    position:fixed;
    height: 64.73px;
    width: 100%;
    background: rgb(16 24 40 / 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgb(255 255 255 / 0.08);
}
.Navigation{
    margin: 0 51px;
    padding: 0 32px;
    height:64px;
}
.nav-elements{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    all: unset;
    color:#ffffff;
    font-weight:600;
    font-size: 16px;
    margin-right: 32px;
    cursor: pointer;
    transition: 0.3s ease;
}
.nav-btn:hover{
    color:#1E88E5;
    text-decoration: underline #1E88E5  ;
}
#name-el{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.btn-holder{
    display: flex;
    justify-content: center;
}
#toggle-btn{
    padding: 8px;
    border:none;
    border-radius: 10px;
    background-color: oklab(0.278 -0.00750866 -0.0321344);
    color: rgb(237, 188, 98);
    cursor: pointer;
}
.toggle-icon{
    width:20px;
    height: 20px;
    display: block;
}
#toggle-btn:hover{
    background-color: rgb(224 224 224 / 20%) ;
}


#hero{
    padding-top: 64px;
    height: 800px;
    width: 100%;
    background:linear-gradient(
        315deg,#172554 10%, #121B2C 90%
    );
}
.main{
    height: 735px;
    width:92.7%;
    display: flex;
    justify-content: space-between;
    padding: 80px 32px;
    margin: 0 51px;
}

.grid-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
}
@media(width>=64rem){
    .grid-sec{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
.work-el{
    color:#50A2FF;
    background-color: #172950;
    display: flex;
    justify-content:space-between;
    height: 36px;
    width: 250px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border:none;
    border-radius: 30px;
}
#current-text{
    font-size:14px;
}
#target-icon{
    font-size: 16px;
}

.Intro{
    color:white;
    height: 196px;
    margin-bottom: 64px;
}
#Name{
    height: 144px;
    font-weight:600;
    font-size: 72px;
    margin-bottom: 16px;
    line-height: 1.0;
}
#Name span{
    background: linear-gradient(to right, oklch(70.7% 0.165 254.624), oklch(71.4% 0.203 305.504));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.Intro p{
    font-size:30px;
    height: 36px;
    color:#D1D5DC;
    outline-color: #808793;
}
.icon-svg{
    color:pink;
    width:30px;
    height: 30px;
    font-size: 30px;
    vertical-align: middle;
    transform: translateY(-3px);
}
#code-svg{
    color: #55A2FF;
}
#intro-para{
    color:#99A1AF;
    font-size: 20px;
    height: 84px;
    margin-bottom: 32px;
}

.Get-in-touch{
    height: 75px;
    display: flex;
    padding-top: 16px;
    margin-bottom: 32px;
}
.intro-btn{
    all: unset;
    margin-right: 20px;
    padding: 16px 32px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}
#touch-btn{
    background: linear-gradient(to right, oklch(58.103% 0.20821 257.568), oklch(58.895% 0.25959 303.168));
    transition: transform 0.2s ease;
}
#touch-btn:hover{
    transform: scale(1.05);
}
#resume-btn{
    border: 1.45px solid #99A1AF;
    transition: transform 0.2s ease;
}
#resume-btn:hover{
    transform: scale(1.05);
    border-color: #1E88E5;
    border-width: 2px;
}

#download-svg{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    transform: translateY(-2px);
    margin-right: 3px;
}

#anchor-tags{
    display: flex;
    height: 72px;
    padding-top: 16px;
}

#anchor-tags a{
    padding: 16px;
    background: #131D36;
    border:none;
    border-radius: 50%;
    color:white;
    box-shadow: 0 0 20px #172554;
    margin-right: 15px;
    transition: transform 0.2s ease;
}
#anchor-tags a:hover{
    color:#1E88E5;
    transform: scale(1.1);
}